html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#proximity{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#proximity li{
	width: 100px;
	height: 25px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	background-color: #999999;
	position: relative;
	border: 10px solid red;
}

#proximity li p{
	width: 100%;
	height: 100%;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	display:block;
	position:absolute;
}
#proximity li.current{
	background-color: #FF0000;
}
#proximity li.topLeft, #proximity li.topCenter, #proximity li.topRight, #proximity li.left, #proximity li.right, #proximity li.bottomLeft, #proximity li.bottomCenter, #proximity li.bottomRight{
	background-color: #FF7788;
}